@import "tailwindcss";
/* Add this to your global CSS file */
.scroll-container::-webkit-scrollbar {
  width: 1px; /* Scrollbar width */
  height: 1px; /* Scrollbar height */
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #B21F28; /* Color of scrollbar handle */
  border-radius: 10px; /* Rounded corners */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #A11E26; /* Handle color on hover */
}

.scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the scrollbar track */
  margin-left: 3rem; /* Space on the left side of the scrollbar */
  margin-right: 3rem; /* Space on the right side of the scrollbar */
}




.divide-x > *:not(:last-child) {
  border-right-width: 1px;
  height: 100px; /* Custom height for divider */
}
.divide-y > *:not(:last-child) {
  border-bottom-width: 1px;
  width: 1000px; /* Custom width for divider */
}
  